@font-face {
    font-family: 'Circular';
    src: url('/code/fonts/circular-pro-book.woff2') format('woff2'),
        url('/code/fonts/circular-pro-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/code/fonts/circular-pro-bold.woff2') format('woff2'),
        url('/code/fonts/circular-pro-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/code/fonts/circular-pro-medium.woff2') format('woff2'),
        url('/code/fonts/circular-pro-medium.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

